* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    background-color: rgb(236, 238, 241);
    font-family: Helvetica, Arial, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
    text-decoration: none;
    color: #0077c5;
}

a:hover {
    text-decoration: underline;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    padding: 10px 30px;
}

.nav-container {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
}

.nav-column-left {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.nav-column {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.btn {
    display: flex;
    align-items: center;
    background: #0077c5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    padding: 0 20px;
    color: white;
    cursor: pointer;
    font-size: 1.125em;
    height: 34px;
}

.locker {
    margin-right: 6px;
}

.main-header {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-container {
    background-image: url("./assets/intuit.png");
    width: 118px;
    height: 35px;
}

.widget-header {
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.header-list {
    list-style: none;
    width: 318px;
    height: 23px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-list li {
    margin-right: 9px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.icon-svg {
    width: 23px;
    height: 23px;
    position: relative;
    margin-right: 4px;
}

.turbo-text {
    margin-top: -4px;
}

.sign-up-wrapper {
    display: flex;
    justify-content: center;
}

.sign-up-box {
    font-size: 14px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    padding: 30px;
    width: 380px;
}

.wrapper-header {
    text-align: center;
    padding-bottom: 20px;
}

.widget-title {
    color: #393a3d;
    font-weight: 400;
    line-height: 1.1;
    font-size: 24px;
}

.widget-sub-header {
    display: block;
    padding-top: 20px;
    font-size: 14px;
    color: #393a3d;
}

fieldset {
    border: 0;
}

label {
    display: block;
    padding-bottom: 6px;
    color: #404040;
    line-height: 25px;
}

.input-container {
    width: 320px;
    min-width: 160px;
    height: 34px;
    position: relative;
}

.fieldset-email {
    height: 95px;
}

.text-input {
    height: 34px;
    width: 320px;
    min-width: 160px;
    padding-left: 8px;
    padding-right: 6px;
    border: 1px solid #c1c5c8;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 1.3em;
}

.text-input:focus {
    border: 1px solid #52a8ec;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgb(0, 0, 0 / 8%) inset, 0 0 8px rgb(82, 168, 236 / 60%);
    -webkit-box-shadow: 0 1px 1px rgb(0, 0, 0 / 8%) inset, 0 0 8px rgb(82, 168, 236 / 60%);
    -webkit-box-shadow: 0 1px 1px #FFF inset, 0 0 8px #52A8EC;
    outline: 0 none;
}

.fieldset-phone {
    min-height: 115px;
}

.field-block {
    display: block;
    min-height: 20px;
}

.sms-warning {
    padding: 5px 0;
    font-size: 10px;
    color: #444;
}

.fieldset-password {
    height: 98px;
}

.box-btn {
    width: 100%;
    height: 44px;
    border: none;
    border-color: #0077c5;
    text-shadow: none;
    -webkit-box-shadow: 0 1px 1px 0 rgb(0, 0, 0);
    box-shadow: 0 1px 1px 0 rgb(0, 0, 0);
    min-width: 100px;
    padding: 8px 12px 6px 12px;

    display: flex;
    justify-content: center;
    font-size: 1.125em;
}

.box-btn .locker {
    margin-right: .5rem;
}

.footer-container {
    text-align: center;
    margin: 10px 0;
}

.terms-of-use {
    font-size: 12px;
    font-style: italic;
    color: #757575;
    padding-top: 10px;
    text-align: center;
}

.captcha {
    background: #eceef1;
    padding: 16px;
    margin: 32px -30px -30px -30px;
    text-align: center;
}

.captcha-text {
    font-size: 10px;
    color: #8d9096;
}

.main-footer {
    color: #505050;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
    padding: 20px 0;
    line-height: 1.5;
    text-align: center;
}

.link-footer {
    display: flex;
    list-style: none;
    padding-top: 5px;
}

.link-footer li {
    padding-left: 10px;
}

.link-footer a {
    color: #505050;
}

.privacy-settings {
    background: #fff;
    height: 64px;
    width: 100vw;
    min-width: 380px;
    padding: 20px;
    margin-top: 72px;
    text-align: left;
}

.privacy-settings a {
    font-size: 14px;
}